.App {
  text-align: center;
}

.card-container {
  width: "300px";
  margin: "10px";
  padding: "10px";
  background-color: "white";
  border-radius: "8px";
  box-shadow: "0 2px 10px 0 rgba(0, 0, 0, 0.05)";
}
