.App {
  text-align: center;
}

.card-container {
  width: "300px";
  margin: "10px";
  padding: "10px";
  background-color: "white";
  border-radius: "8px";
  box-shadow: "0 2px 10px 0 rgba(0, 0, 0, 0.05)";
}

.scroll-box {
  position: fixed;
  right: 0;
  bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px 0 0 0;
  cursor: pointer;
  z-index: 999;
  background-image: linear-gradient(90deg, #35604f, #83d7b4, #50a381);
  background-size: 200% auto;
}

.name {
  color: white;
  font-weight: 600;
}
